html {
    width: 800px;
    margin: auto;
    ;
}

a {
    text-decoration: none;
    color: #000;
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.nav-list {
    margin-right: 20px;
    text-decoration: underline;
}

.name {
    display: flex;
    justify-content: space-between;
}

.name-photo {
    margin-right: 50px;
}

.name-name {
    text-align: end;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.me {
    text-decoration: underline;
}

